<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first page</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}
        <span class="current">
            {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">forward</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last page &raquo;</a>
        {% endif %}
    </span>
</div>