{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>TRAINERS</h1>
<p>All of our professional trainers are dedicated to helping you achieve your goals with personalized guidance and support.</p>
<ul>
    {% for trainer_obj in trainers %}
    <li>
        <a href="{% url 'trainer-one' trainer_obj.id %}" class="trainer-card">
        <h4>{{ trainer_obj.first_name }} {{ trainer_obj.last_name }}</h4></a>
    <div class="trainer-info">
        <p>Specialization: {{ trainer_obj.specialization }}</p>

        <div class="trainer-image-wrapper">
                {% if trainer_obj.cover %}
                    <img src="{{ trainer_obj.cover.url }}" class="trainer-image img-fluid"/>
                {% else %}
                    <img src="{% static 'img/no-image.png' %}" class="trainer-image img-fluid"/>
                {% endif %}
        </div>

        <hr>
    </div>
    </li>
    {% endfor %}
</ul>
{% if trainers.has_other_pages %}
    <ul class="pagination pagination-sm">
        {% for nr in trainers.paginator.page_range %}
            {% if trainers.number == nr %}
                <li class="page-item active">
                    <a class="page-link">{{ nr }}</a>
                </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ nr }}">{{ nr }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
